<<<<<<< HEAD
=======
<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<div class="row">
  <div class="col-xs-6">
    <h3>Orders By Day</h3>
    <%= pie_chart @orders.group(:name).count, discrete: true %>
</div>
  </div>
>>>>>>> aa076101eaa71d6583e6991b373b3a099a93af47
<h1>Listing orders</h1>
<table border="0">
<tr>
<th>Name</th>
<th>Address</th>
<th>Email</th>
<th>Pay type</th>
<th></th>
<th></th>
<th></th>
</tr>
<% @orders.each do |order| %>
<tr>
<td><%= order.name %></td>
<td><%= order.address %></td>
<td><%= order.email %></td>
<td><%= order.pay_type %></td>
<td><%= link_to 'Show' , order %></td>
<td><%= link_to 'Edit' , edit_order_path(order) %></td>
<td><%= link_to 'Destroy' , order_destroy_path(order), :confirm => 'Are you sure?' ,:method => :delete %></td>

</tr>
<% end %>
</table>
<br />
<%= link_to 'New Order' , new_order_path %>
<p><%= will_paginate @orders %></p>
