<h1>Listing orders</h1>
<table>
<tr>
<th>Name</th>
<th>Address</th>
<th>Email</th>
<th>Pay type</th>
<th>Total Price</th>
<th></th>
<th></th>
<th></th>
</tr>
<% @orders.each do |order| %>
<tr>
<td>&nbsp&nbsp&nbsp<%= order.name %></td>
<td>&nbsp&nbsp&nbsp<%= order.address %></td>
<td>&nbsp&nbsp&nbsp<%= order.email %></td>
<td>&nbsp&nbsp&nbsp<%= order.pay_type %></td>
<td>&nbsp&nbsp&nbsp<%= order.total_amount.to_f %></td>
<td><%= link_to 'Show' , order %></td>
<td><%= link_to 'Edit' , edit_order_path(order) %></td>
<td><%= link_to 'Destroy' , order_destroy_path(order), :confirm => 'Are you sure?' ,:method => :delete %></td>

</tr>
<% end %>
</table>
<br />
<%= link_to 'New Order' , new_order_path %>
<p><%= will_paginate @orders %></p>
